:root {
    --vert: rgb(0, 105, 0);
    --vertclair: rgb(52, 180, 52);
    --bronze: rgb(112, 91, 27);
    --silver: rgb(148, 148, 148);
    --gold: rgb(255, 190, 0);
    --platinum: rgb(175, 225, 255);
    --heavenly: rgb(210, 142, 255);
    --normal: 197, 181, 181;
    --common: 55, 169, 21;
    --uncommon: 85, 128, 243;
    --rare: 167, 65, 146;
    --epic: 255, 176, 15;
    --exotic: 255, 99, 55;
    --divine: 244, 67, 54;
    --universal: 252, 32, 32;
    --dimensional: 208, 134, 240;

}

.Normal {
    color: rgb(var(--normal)) !important;
    text-shadow: 0 0 2px !important;
}

.Common {
    color: rgb(var(--common)) !important;
    text-shadow: 0 0 2px !important;
}

.Uncommon {
    color: rgb(var(--uncommon)) !important;
    text-shadow: 0 0 2px !important;
}

.Rare {
    color: rgb(var(--rare)) !important;
    text-shadow: 0 0 2px !important;
}

.Epic {
    color: rgb(var(--epic)) !important;
    text-shadow: 0 0 2px !important;
}

.Exotic {
    color: rgb(var(--exotic)) !important;
    text-shadow: 0px 0px 3px rgb(var(--exotic));
}

.Divine {
    color: rgb(var(--divine)) !important;
    text-shadow: 0 0 2px !important;
}

.Universal {
    color: rgb(var(--universal)) !important;
    text-shadow: 0 0 2px !important;
}

.Dimensional {
    color: rgb(var(--dimensional)) !important;
    text-shadow: 0 0 2px !important;
}

.Bronze {
    color: var(--bronze) !important;
    text-shadow: 0 0 2px;
}

.Silver {
    color: var(--silver) !important;
    text-shadow: 0 0 2px;
}

.Gold {
    color: var(--gold) !important;
    text-shadow: 0 0 2px;
}

.Platinum {
    color: var(--platinum) !important;
    text-shadow: 0px 0px 13px rgb(0, 70, 255);
}

.Heavenly {
    color: var(--Heavenly) !important;
    text-shadow: 0 0 2px rgb(75, 4, 122);
}

.icon.fa,
.icon.fas {
    font-family: "Font Awesome 7 Pro";
    font-display: swap;
    font-weight: 900;
}

#body,
.bg-base-100 {
    font-family: 'Quicksand', sans-serif !important;
    font-display: swap;
    background: center / cover no-repeat url(images/bg.webp) !important;
    background-attachment: fixed;
    cursor: url("images/normal.cur"), pointer;
    font-size: 17px;
}

#imagecontainer {
    position: relative;
    height: 250px;
    width: 100%;
}

#imagecash {
    background: center / contain no-repeat;
    height: 100%;
    width: 100%;
    cursor: url("images/hand.cur"), pointer;
}

#imagecontainer:active #imagecash,
.USEFFECT {
    animation: 0.25s UseEffect ease !important;
}

@keyframes UseEffect {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.9, 0.9);
    }

    100% {
        transform: scale(1, 1);
    }
}

a,
.button:hover {
    cursor: url("images/hand.cur"), pointer !important;
}

.centrer {
    text-align: center;
}

.title {
    text-align: center;
    font-size: 24px;
    font-family: 'Saira', sans-serif;
    font-display: swap;
    margin: 2.5vh 0vh 0vh 0vh;
    color: rgb(108, 184, 124);
}

#OTitle .ui.label {
    font-size: 2.5vh;
}

.tc-spent-dollar,
.ui.header.spent-dollar {
    color: rgb(216, 67, 67) !important;
    text-shadow: 0 0 2px #000000;
}


.tc-dollar,
.ui.header.dollar {
    color: rgb(108, 184, 124) !important;
    text-shadow: 0px 1px 4px #000;
}

.vert {
    color: var(--vert) !important;
    text-shadow: 0 0 2px #000000;
}

.gris {
    color: rgb(150, 150, 150) !important;
}

.rouge {
    color: rgb(229, 46, 35) !important;
}

.jaune {
    color: #FFF000 !important;
}

.blanc {
    color: #FFF !important;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}
.SuccessText {
    font-weight: bold;
    color: #FF0;
    font-size: 2.75vh;
    font-family: 'Quicksand', sans-serif !important;
    font-display: swap;
}

.money {
    background-image: url(images/cash.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1em;
    display: inline-block;
    width: 1.15em;
    height: 1.15em;
}

body ::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: linear-gradient(to right, rgb(108, 184, 124), rgb(96, 199, 118));
}

body ::-webkit-scrollbar-thumb:hover {
    background: rgb(108, 184, 124);
}

body ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.7);
}

.bold {
    font-weight: bold;
}

.topmenu-space {
    padding: 4vh;
}

#cash {
    position: absolute;
    z-index: 10;
    margin-top: -20px;
    width: 80%;
    margin-left: 10%;
    padding: 5px 0px;
    border-radius: 0.25em;
    box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.25);
    background: rgba(0, 0, 0, 0.25);
}

.type2 .Silver {
    text-shadow: none !important;
}

.alert:not([style="display: none;"]) {
    position: fixed !important;
    top: 5px;
    right: 0;
    z-index: 2;
    border-radius: 5px 0 0 5px !important;
    place-items: center;
}

.pw.title {
    margin: 0 0px 10px 0;
}

h1.ui.inline.header .sub.header {
    line-height: 1.14285714rem;
}

h2.ui.inline.header .sub.header {
    line-height: 1.14285714rem;
}

h3.ui.inline.header .sub.header {
    line-height: 1rem;
}

h4.ui.inline.header .sub.header {
    line-height: 1rem;
}

h5.ui.inline.header .sub.header {
    line-height: .92857143rem;
}

h6.ui.inline.header .sub.header {
    line-height: .92857143rem;
}

.ui.grid>.green.dollar.row,
.ui.grid>.row>.green.dollar.column {
    background-color: rgb(108, 184, 124);
    color: #fff;
}

.badge.Normal {
    background-color: rgba(var(--normal), 0.15);
    color: rgb(var(--normal));
}

.badge.Common {
    background-color: rgba(var(--common), 0.15);
    color: rgb(var(--common));
}

.badge.Uncommon {
    background-color: rgba(var(--uncommon), 0.15);
    color: rgb(var(--uncommon));
}

.badge.Rare {
    background-color: rgba(var(--rare), 0.15);
    color: rgb(var(--rare));
}

.badge.Epic {
    background-color: rgba(var(--epic), 0.15);
    color: rgb(var(--epic));
}

.badge.Exotic {
    background-color: rgba(var(--exotic), 0.15);
    color: rgb(var(--exotic));
}

.badge.Divine {
    background-color: rgba(var(--divine), 0.15);
    color: rgb(var(--divine));
}

.badge.Universal {
    background-color: rgba(var(--universal), 0.15);
    color: rgb(var(--universal));
}

.badge.Dimensional {
    background-color: rgba(var(--dimensional), 0.15);
    color: rgb(var(--dimensional));
}

.ui.move.left {
    margin: 0 .5em 0 0
}

.ui.move.right {
    margin: 0 0 0 .5em
}